# Mac hidden -----------------
.AppleDouble
:2e*
/Icon*
.#*
.afpDeleted*


# Ignore WorkInProgress files ---------
__*


# Temps files ---------
hardware/eagle/*.b#*
hardware/eagle/*.s#*
hardware/eagle/*.pro
hardware/eagle/*.job
hardware/eagle/*.log
hardware/eagle/eagleUp/*